/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
	font-size: 24px;
	padding: 20px;
}

header {
  background: #ccc;
  padding: 20px;
  margin-bottom: 30px;
  color: #ebebeb;

}

section {
	padding: 20px;
	margin-bottom: 20px;

}


#middle {
	background-color: #888;
	color: #ebebeb;
	width: 99%;
	float: left;
	display: block;
	box-sizing: border-box;
}
.P {
	font-size: 15px;
}
}

#Left {
	background-color: red;
	overflow: hidden;
	float: left;
	width: 60%;
	font-size: 18px;
	box-sizing: border-box;
	margin-bottom: 30px;
	padding: 90px 0px 150px 20px;
	position: left;
	overflow: scroll;

	
}
#Right {
	background-color: #777;
	width: 60%;
	float: right;
	font-size: 18px;
	box-sizing: border-box;
	margin-bottom: 30px;
	padding: 150px 20px 90px 0px;
	position: right;
}

#Body {
	width: 100%;
	background-color: orange;
}

#bod {
	background-color: red;
	font-size: 18px;
}
aside {
	background-color: blue;
	width: 33%;
	height: 200px;
	border: 1px solid #eee;
	padding: 20px;
	margin-left: 30px
	color: #ebebeb;
}

footer {
	clear: both;
	padding: 20px;
	background-color: #777;
	color: #ebebeb;
	width: 99%;
}
